.cover-page {
    background-image: url("images/interview_questions_and_answers.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}